h3{
      font-family: 'Courier New', Courier, monospace;
      font-size: 25px;
}

.inps{
      display: flex;
      flex-direction: column;
      gap: 8px;
}
.inps input,select,button{
      width: 220px;
      height: 25px;
      margin: auto;
      background: rgb(59, 55, 55);
      color: #fff;
}
